body {
    margin: 0 auto;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    width: 1200px;
  }

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

 /* Главная страница сайта */
 /* Навигация сайта */
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    background-color: white;
    text-align: center;
}

.main-navigation li {
    width: 240px;
    padding: 15px 20px;
    
}


.main-logo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 140px;
}
.main-navigation,
.site-navigation {
    list-style: none;
}

.site-navigation {
    display: flex;
    padding: 0;
    margin: 0;
}

.site-navigation-left {
    margin-left: auto;
}

.main h1 {
    font-size: 21px;
    line-height: 26px;
    width: 440px;
    height: 48px;
    color: #333333;
}

.main h2 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

/* Навигация сайта */
.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.active-page-info:visited {
    color: #766357;
}

/* Список преимуществ */

.features-info {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    width: 1200px;
    padding-left: 380px;
    padding-right: 380px;
    
    margin-top: 59px;
}

.hero h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 38px;
    margin-bottom: 56px;
}

.features-list ul {
    list-style:none;
}

.features-list,
.features-item {
    display: flex;
    margin-left:auto;
    margin-right:auto;
}

.features-item h3 {
    font-size: 21px;
    line-height: 21px; 
}

.features-item-text {
    background-color: #81b3d2;
    color: white;
    width: 400px;
    height: 256px;
    
    padding-top: 23px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 64px;
}

.features-item-title {
    padding-left: 60px;
    padding-right: 60px;
}


.features-item-text h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.features-item li {
    padding-top: 62px;
    padding-bottom: 43px;
    padding-left: 49px;
    padding-right: 49px;
    
}

.features-items li {
    width: 1200px;
    display: flex;

    
}

.features-list3 ul{
    list-style: none;
    background-color: #eeeeee;
    
    margin: 0;
}



/* Секция формы */
.search-block {
    font-weight: 700;
}

.search-button {
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    background-color: #766357;
    width: 568px;
    height: 86px;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #604e43;
}

.search-button:active {
    background-color: #503e33;
}

.search-text-block {
    width: 1200px;
    text-align: center;
    
    padding-right: 400px;
    padding-left: 400px;
}

.search-text-main{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

}

.search-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.submit-search {
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    background-color: #81b3d2;
    border: none;
    margin-top: 55px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 458px;
    height: 58px;
    cursor: pointer;
}

.submit-search:hover {
    background-color: #669ec0;
}

.submit-search:active {
    background-color: #5496bd;
}

/* Стилизация формы заезда выезда */
.style-date {
    background-color: #f2f2f2;
    cursor: pointer;
}

.style-date:hover {
    background-color: #ebebeb;
}

.style-date:focus {
    background-color: #ffffff;
}
/* Кнопки плюсов и минусов в секции формы  */



/* Кнопки календаря */

.calendar-button {
    width: 21px;
    height: 22px;
    position: absolute;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.calendar-button svg {
    fill: #cacaca;
}

.calendar-button:hover svg {
    fill: black;
}

.calendar-button:active svg { 
    fill: #81b3d2;
}

/* Футер */
.footer-info {
    width: 1200px;
    padding-left: 132px;
    padding-right: 101px;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.main-information {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.copyright-info {
    display: flex;
    padding-top: 30px;
    padding: 0;
    margin: 0;
    align-items: center;
    padding-top: 10px;
}

/* Кнопка логотипа */

.copyright-logo {
    width: 115px;
    height: 41px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.copyright-logo:hover svg {
    fill: #81b3d2;
}

.copyright-logo:active svg {
    fill: #bdbbbc;
}

/* Сошал кнопки  */

.social-buttons {
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-top: 36px;
    
    padding: 0;
}

.social-button-tw {
    margin-right: 6px;
}

.social-button-fb {
    margin-right: 6px;
}

.social-button-tw, 
.social-button-fb,
.social-button-yt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    display: inline-flex;
    cursor: pointer;
    outline: none;
    background-color: #81b3d2;
}

.social-button-tw svg, 
.social-button-fb svg,
.social-button-yt svg { 
    fill: #ffffff;
}

.social-button-tw:hover, 
.social-button-fb:hover,
.social-button-yt:hover {
    background-color: #669ec0;
}

.social-button-tw:active, 
.social-button-fb:active,
.social-button-yt:active  {
    background-color: #5496bd;
}

.social-button-tw:active svg, 
.social-button-fb:active svg,
.social-button-yt:active svg {
    fill: #88b6d1;
}

/* Активная кнопка на странице отеля */

.site-navigation .active-page-hotel:active {
    color: #766357 ;
}

/* Страница с отелями */

/* Стиль активной страницы на которой находимся */

.active-page-hotel:visited {
    color: #766357;
}

/* Фильтр страницы гостиницы */

.filter-cursor {
    cursor: pointer;
}

.filter {
    display: flex;
}

.price-filter {
    margin-left: auto;
    padding-right: 74px
}

.infrastructure-filter {
    display: flex;
    flex-direction: column;
    padding-right: 115px;
    padding-left: 70px;
}

.property-filter {
    display: flex;
    flex-direction: column;
}

.results-filter {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.gradation {
    padding-top: 31px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.result-gradation {
    font-size: 21px;
    line-height: 26px;
    padding-right: 49px;
    padding-left: 72px;
    padding-top: 31px;
}


/* Стилизация результатов */


.hotels a {
    text-decoration: none;
}

.hotels h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    padding: 0;
    margin: 0;
    padding-left: 30px;

}

.hotels span {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.hotel-list {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 72px;
    border-bottom: 1px solid #e5e5e5;
}



.learn-more,
.reserved {
    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 16px;
}

.learn-more {
    color: white;
    width: 110px;
    height: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    background-color: #81b3d2;
    margin-right: 6px;
}

.learn-more:hover {
    background-color: #669ec0;
}

.learn-more:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.reserved {
    width: 142px;
    height: 27px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    background-color: #766357;
}

.reserved:hover {
    background-color: #604e43;
}

.reserved:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    background-color:#f2f2f2;
    color:#666;
    padding-top: 3px;
    padding-right: 13px;
    padding-bottom: 3px;
    padding-left: 13px;
}

/* Стилизация фильтров ( Найдено ) */
.gradation {
    font-size: 12px;
}

.price-gradation {
    color: #81b3d2;
    border-bottom: 1px dotted #d2d2d2;
    border-bottom-color:rgb(210, 210, 210);
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    margin-left: 38px;
    margin-right: 38px;
}

.type-gradation,
.rating-gradation {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #d2d2d2;
    border-bottom-color:rgb(210, 210, 210);
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    margin-right: 38px;
}

.price-gradation:hover,
.type-gradation:hover,
.rating-gradation:hover {
    color: #81b3d2;
}

.price-gradation:active,
.type-gradation:active,
.rating-gradation:active {
    color: #000000;
}



/* Стилизация поиска после Найдено  */

.hotel-title {
    color: #000000;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
}

.hotel-title:hover {
    color: #81b3d2;
}

.hotel-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.up-icon {
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.up-icon svg {
    fill: #cacaca;
}

.up-icon:hover svg {
    fill: black;
}

.up-icon:active svg {
    fill: #81b3d2;
}

.down-icon {
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.down-icon svg {
    fill: #cacaca;
}

.down-icon:hover svg {
    fill: black;
}

.down-icon:active svg {
    fill: #81b3d2;
}


.hotel-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 90px;
    padding-left: 30px;
}

.hotel-title {
    display: flex;
    margin: 0;
}

.hotel-discription {
    display: flex;
    margin: 0;
}

.hotel-discription-right {
    padding-right: 29px;

}

.hotel-main-discription {
    display: flex;
    min-width:400px;
    min-height: 30px;
    margin: 0;
    padding-top: 3px;

}

.hotel-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 90px;
    margin-left: auto;

    
}

.hotel-main-info {
    display: inline-block;
}