body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    background-color: white;
  }

a {
    text-decoration: none;
}

 /* Главная страница сайта */
 /* Навигация сайта */
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    background-color: white;
}

.main-navigation,
.site-navigation {
    list-style: none;
}

.main h1 {
    font-size: 21px;
    line-height: 26px;
    width: 440px;
    height: 48px;
    color: #333333;
}

.main h2 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

/* Навигация сайта */
.site-navigation a {
    color: black;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:focus {
    color: brown;
}

.site-navigation a:active {
    color: grey;
}
/* Список преимуществ */
.features-list ul {
    list-style:none;
}

.features-item h3 {
    font-size: 21px;
    line-height: 21px; 
}

.features-list,
.features-item {
    text-align: center;
}

.features-item-text {
    background-color: #81b3d2;
}

.features-item-text h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

/* Секция формы */
.search-block {
    font-weight: 700;
}

.search-button {
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    background-color: #766357;
    width: 568px;
    height: 86px;
    border: none;
    
}

.search-button:hover {
    background-color: #604e43;
}

.search-button:active {
    background-color: #503e33;
}

.search-text-main, h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.search-text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.submit-search {
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    background-color: #81b3d2;
    border: none;
    margin-top: 55px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 458px;
    height: 58px;
}

.submit-search:hover {
    background-color: #669ec0;
}

.submit-search:active {
    background-color: #5496bd;
}
/* Кнопки плюсов и минусов в секции формы  */
.button-minus:hover {
    color: black;
}

.button-minus:active {
    color: #81b3d2;
}

.button-plus:hover {
    color: black;
}

.button-plus:active {
    color: #81b3d2;
}


/* Кнопки календаря */

.calendar-button {
    width: 21px;
    height: 22px;
}

.calendar-button:hover {
    background: url(../img/calendar-hover.svg) transparent no-repeat;
    color: black;
}

.calendar-button:active {
    background-image: url(../img/calendar-active.svg) transparent no-repeat;
    color: #81b3d2;
}

/* Футер */
.slogan {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.copyright-logo:hover {
    color: #81b3d2;
}

/* Сошал кнопки  */

.social-buttons {
    list-style:none;
}

/* Активная кнопка на странице отеля */

.site-navigation .active-page:active {
    color: #766357 ;
}

/* Страница с отелями */

.results a {
    text-decoration: none;
}

.results h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.results span {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.learn-more,
.reserved {
    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 16px;
}

.learn-more {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    background-color: #81b3d2;
}

.reserved {
    width: 110px;
    height: 11px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    background-color: #766357;
}

.rating {
    background-color:#f2f2f2;
    color:#666;
    padding-top: 3px;
    padding-right: 13px;
    padding-bottom: 3px;
    padding-left: 13px;
}
